<div class="sidebar" id="sidebar">
	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
	</script>

	<ul class="nav nav-list">
		<li class="active">
			<a href="">
				<i class="icon-home"></i>
				<span class="menu-text"> 商城设置 </span>
			</a>
		</li>

		<li>
			<a href="javascript:void(0)">
				<i class="icon-list"></i>
				<span class="menu-text"> 菜单管理 </span>
			</a>
		</li>

		<li>
			<a href="javascript:void(0)">
				<i class="icon-gift"></i>
				<span class="menu-text"> 商品管理 </span>
			</a>
		</li>
		
		<li>
			<a href="javascript:void(0)">
				<i class="icon-calendar"></i>
				<span class="menu-text"> 订单管理 </span>
			</a>
		</li>
		
		<li>
			<a href="javascript:void(0)">
				<i class="icon-group"></i>
				<span class="menu-text"> 用户管理 </span>
			</a>
		</li>

		<li>
			<a href="javascript:void(0)">
				<i class="icon-picture"></i>
				<span class="menu-text"> 晒照管理 </span>
			</a>
		</li>

		<li>
			<a href="javascript:void(0)">
				<i class="icon-edit"></i>
				<span class="menu-text"> 兑换地点 </span>
			</a>
		</li>

		<li>
			<a href="javascript:void(0)">
				<i class="icon-file"></i>
				<span class="menu-text"> 兑换记录 </span>
			</a>
		</li>

		<li>
			<a href="javascript:void(0)">
				<i class="icon-bar-chart"></i>
				<span class="menu-text"> 我要报表 </span>
			</a>
		</li>

		<li>
			<a href="javascript:void(0)">
				<i class="icon-list-alt"></i>
				<span class="menu-text"> 管理员列表 </span>
			</a>
		</li>

		<!--<li>
			<a href="javascript:void(0)">
				<i class="icon-edit"></i>
				<span class="menu-text"> 微信管理 </span>
			</a>
		</li>

		<li>
			<a href="javascript:void(0)">
				<i class="icon-cloud"></i>
				<span class="menu-text"> 技术支持 </span>
			</a>
		</li>-->
	</ul><!-- /.nav-list -->

	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
	</script>
</div>